@CHARSET "UTF-8";
/****** Page Styles ****/

/*  Designed for 1200*900 px screen resolution  */ 
 

/**** Game Styles  ****/

#currentTitle{
	width: 150px;
	height: 80px;
	font:25px/30px "Courier New", Courier, monospace;	
	font-weight: bold;
	color: red;
}
#content{
	position:relative;	
	margin: 0 auto;
	margin-top: 74px;
	width: 1198px;
	height: 750px;
	overflow-y:hidden;
	background: url(../assets/image/background.jpg) no-repeat center;
	text-align:center;	
}
#title{
	margin: 2em auto;
	font: 40px/45px Verdana, Geneva, Arial, sans-serif;
	font-weight:bold;
}


#imageBox{
	float:left;
	margin: 2em 3em;
	width: 207px;
    height: 208px;
	background:url(../assets/image/imageBox.png);
}
.imgQues{
	width: 105px;
    height: 105px;
	margin: 4em 2em;
}

#checkedOption{
	float:left;
	margin-top: 5em;
	width:128px;
	height:128px;
	padding: 5px;
}

#optionSection{
	padding-left: 10px;
	margin:4em 3em;
	float:right;
	width:554px;
	height:176px;
	background:url(../assets/image/optionBox.png);
}

.optImg{
	float:left;
	margin: 2.5em 1em;
	cursor:pointer;
	width:105px;
	height: 105px;
	text-align:center;
}
.optImg:Hover{
	background-color: #92CEF2;
}
		
#gameOver{
	opacity: 1;
	position:absolute;
	top: 50%;
	left:30%;
	color: blue;
	text-align:center;
	font : bold 45px/65px Arial Black, Times New Roman;
}
