@CHARSET "UTF-8";

#content {
    background: url(../assets/image/background.jpg) no-repeat center;
}

#questArea {
    position: absolute;
    top: 2em;
    left: 8em;
    width: 200px;
    height: 80px;
    font: 50px/70px Arial Black,Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: gold;
}

#optionArea {
    position: absolute;
    right: 0em;
    bottom: 0em;
    width: 15em;
    height: 6em;
    font: 50px/120px Arial Black,Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.optionBox {
    position: absolute;
    text-align: center;
    color: green;
}

.optionBox:hover {
    color:  red;
}

#gameOver {
    opacity: 1;
    position: absolute;
    top: 2em;
    left: 8em;
    color: blue;
    text-align: center;
    font : bold 45px/65px Arial Black, Times New Roman;
}
