@CHARSET "UTF-8";
/****** Page Styles ****/

/*  Designed for 1200*900 px screen resolution  */


/**** Game Styles  ****/

#content {
    background: url(../assets/image/background.jpg) no-repeat center;
}

#vocabImg {
    position: relative;
    margin: 3em auto;
    width: 1145px;
    height: 660px;
    background: url(../assets/image/vocabImg.jpg);
}

#quesSection {
    margin: 2em auto;
    width: 80em;
    height: 40em;
}

.imgArea {
    float: left;
    position: relative;
    width: 185px;
    height: 200px;
    padding: 5px;
    margin: 1em 2em;
}

.imgObject {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.25em;
    padding-left: 50px;
}

#optionSection {
    margin: 1em auto;
    width: 1100px;
    height: 60px;
    padding : 2px;
    border: 2px solid green;
    text-align: center;
    color: black;
}

.gameOver {
    font: bold 40px Arial, Helvetica, sans-serif;
    color: blue;
}

.drophover {
    background-color: #FF9900;
}

.backOpaque {
    background-color: #A4A4A4;
    opacity: 0.2;
}

.dropObjects {
    width: 125px;
    height: 33px;
    margin: 0.5em 2em;
    border: 2px solid black;
    text-align: center;
    font: 30px Verdana, Geneva, Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.dragObjects {
    float: left;
	margin-left: 25px;
    height: 33px;
    text-align: center;
    cursor: move;
    font: 30px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
